/* Example */


position: absolute;
width: 40px;
height: 40px;

background: #9FE2BF;
border-radius: 3px;


/* Example */


position: absolute;
width: 40px;
height: 40px;

background: #01AAA9;
border-radius: 3px;


/* Example */


position: absolute;
width: 40px;
height: 40px;

background: #40E0D0;
border-radius: 3px;


/* Example */


position: absolute;
width: 40px;
height: 40px;

background: #34B1CF;
border-radius: 3px;


/* Example */


position: absolute;
width: 40px;
height: 40px;

background: #6BCCDC;
border-radius: 3px;


/* Example */


position: absolute;
width: 40px;
height: 40px;

background: #0000FF;
border-radius: 3px;


/* Example */


position: absolute;
width: 40px;
height: 40px;

background: #3366FF;
border-radius: 3px;


/* Example */


position: absolute;
width: 40px;
height: 40px;

background: #007FFF;
border-radius: 3px;


/* Example */


position: absolute;
width: 40px;
height: 40px;

background: #00BBFF;
border-radius: 3px;


/* Example */


position: absolute;
width: 40px;
height: 40px;

background: #800080;
border-radius: 3px;


/* Example */


position: absolute;
width: 40px;
height: 40px;

background: #9674EF;
border-radius: 3px;


/* Example */


position: absolute;
width: 40px;
height: 40px;

background: #B57EDC;
border-radius: 3px;


/* Example */


position: absolute;
width: 40px;
height: 40px;

background: #FF008E;
border-radius: 3px;


/* Example */


position: absolute;
width: 40px;
height: 40px;

background: #663300;
border-radius: 3px;


/* Example */


position: absolute;
width: 40px;
height: 40px;

background: #FF90CF;
border-radius: 3px;


/* Example */


position: absolute;
width: 40px;
height: 40px;

background: #808080;
border-radius: 3px;


/* Example */


position: absolute;
width: 40px;
height: 40px;

background: #FAAFBE;
border-radius: 3px;


/* Example */


position: absolute;
width: 40px;
height: 40px;

background: #FF4FA7;
border-radius: 3px;


/* Example */


position: absolute;
width: 40px;
height: 40px;

background: #E60000;
border-radius: 3px;


/* Example */


position: absolute;
width: 40px;
height: 40px;

background: #DC0026;
border-radius: 3px;


/* Example */


position: absolute;
width: 40px;
height: 40px;

background: #FF0000;
border-radius: 3px;


/* Example */


position: absolute;
width: 40px;
height: 40px;

background: #FE4141;
border-radius: 3px;


/* Example */


position: absolute;
width: 40px;
height: 40px;

background: #FF8C00;
border-radius: 3px;


/* Example */


position: absolute;
width: 40px;
height: 40px;

background: #FEC369;
border-radius: 3px;


/* Example */


position: absolute;
width: 40px;
height: 40px;

background: #F9C926;
border-radius: 3px;


/* Example */


position: absolute;
width: 40px;
height: 40px;

background: #FFE433;
border-radius: 3px;


/* Example */


position: absolute;
width: 40px;
height: 40px;

background: #FFFF00;
border-radius: 3px;


/* Example */


position: absolute;
width: 40px;
height: 40px;

background: #009900;
border-radius: 3px;


/* Example */


position: absolute;
width: 40px;
height: 40px;

background: #3EB235;
border-radius: 3px;


/* Example */


position: absolute;
width: 40px;
height: 40px;

background: #9ACD32;
border-radius: 3px;